<h2>News List</h2>

<div>
  <button (click)="add()" class="btn btn-primary btn-lg">
    Add News
  </button>
</div>

<div class="products">
  <div class="col-md-12">
      <div class="row" *ngFor="let p of news; let i=index;">

          <div class="col-md-10">



            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                      <a routerLink="/news-details/{{p.id}}"><p>{{i+1}}</p></a>
                    </div>
                    <div class="col-md-4">
                      <p>{{p.name}}</p>
                    </div>
                    <div class="col-md-6">
                      <p>{{p.desc}}</p>
                    </div>
                </div>
            </div>

          </div>
          <div class="col-md-2">

            <button class="delete btn btn-danger" title="delete product"
            (click)="delete(p.id)">x</button>
          </div>

      </div>
  </div>

</div>
