/* Products Component's private CSS styles */
.products {


}

.list{
  background-color: beige;
  border: 1px solid red;

}
.delete{
    border: 1px solid red;
    position:absolute;
    right: 0;

}
