/* Products Component's private CSS styles */
.wrapper{

  margin-top: 50px;
  margin:0px auto;
  border-radius: 5px;

}
.heading{
  padding: 10px 0px 20px 0px;
  color: rgb(37, 37, 37);
}
.fa-eye{
  color: #FFF;
}
